/*Mobile version*/
@media only screen and (max-width: 767px) {
  .page-navigation-container {
    display: none;
  }

  .page-navigation-container-mobile-tablet {
    display: none;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  #header-search-container {
    width: 10px;
    margin-right: 30px;
    margin-left: -20px;
  }

  .form-page-content-container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }

  #create-account-form {
    width: 90%;
  }

  #login-form {
    width: 90%;
  }
  .form-section {
    margin: auto;
    width: 90vw;
  }
  .inputs-group {
    display: flex;
    flex-direction: column;
  }

  #home-sidebar {
    margin: auto;
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .list-image,
  .list-image img {
    width: 100%;
  }

  .footer-page-links-container {
    gap: 10px;
  }

  .profile {
    padding: 10px;
    padding-top: 0px;
  }

  #profile-picture-summary,
  #cover-photo {
    display: flex;
    flex-direction: column;
  }

  #cover-photo-camera-icon {
    width: 15px;
    cursor: pointer;
  }

  #profile-camera-icon {
    width: 15px;
    cursor: pointer;
  }

  #profile-summary {
    margin-top: -80px;
    margin-left: -20px;
    margin-bottom: -20px;
  }

  .u-account-name {
    margin-top: 30px;
  }

  #profile-picture-container {
    width: fit-content;
    margin-top: -25px;
  }

  #profile-picture {
    width: 80px;
    height: auto;
  }

  .show-account-button,
  .show-workspace-button {
    display: none;
  }

  .website-modal-content {
    width: 90%;
  }

  .modal-description {
    width: 100%;
  }

  .details-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .date-category-proponents-container {
    flex-direction: column;
  }
  .date-category-proponents-container div:first-of-type {
    margin-bottom: -10px;
  }
  .date-category-proponents-container div:second-of-type {
    margin-bottom: 10px;
  }
}

/*On tablet, hide header navigation buttons and show the navigation container.*/
@media only screen and (768px <= width) {
  .show-mobile-navigation {
    display: none;
  }

  .hide-mobile-navigation {
    display: none;
  }

  .page-navigation-container-mobile-tablet {
    display: none;
  }

  .page-navigation-container {
    display: block;
  }
}

/*While not yet on the desktop mode, the search input is hidden to gice space to the navigation container.*/
@media only screen and (width <=1023px) {
  #search-form {
    width: fit-content;
  }
  .header-search-input {
    display: none;
  }

  .page {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
  }

  .workspace-page {
    display: block;
    margin-top: 100px;
  }

  #summernote {
    margin-top: 100px;
  }

  .live-article-container {
    margin-top: 20px;
  }

  .workspace-search-container-mobile-tablet {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 50000;
    /* visibility: visible; */
    display: block;
  }

  .edit-icon {
    display: block;
  }
  .workspace-sidebar {
    /* display: none; */
    width: 100%;
    padding-bottom: 50px;
  }

  .actual-workspace {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    visibility: hidden;
  }

  .workspace-info-and-buttons {
    width: 100%;
    display: inline;
  }

  .workspace-actions-container {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 170;
    border-radius: 5px;
    width: 100vw;
  }

  #promotional-sidebar {
    position: fixed;
    width: 100%;
    height: 20vh;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin-top: 80vh;
    background-color: white;
    flex-direction: row;
    padding-bottom: 10px !important;
    visibility: hidden;
  }

  .sidebar-display-image {
    height: 100%;
    width: auto;
  }

  #ad-search-form {
    display: none;
  }

  .page-details {
    padding: 0px;
    margin: auto;
    width: 100%;
    margin-top: 10px;
  }
  #profile-details-bottom {
    display: flex;
    flex-direction: column;
  }

  #file-purchase-page {
    padding: 50px;
  }
  .purchase-details {
    flex-direction: column;
    width: 100%;
  }

  .purchase-notes {
    width: 100%;
  }

  #purchase-form {
    width: 100%;
  }
  .purchase-update {
    width: 100%;
  }

  /*Registration*/
  .userid-column {
    display: none;
  }

  .account-name-registration {
    display: none;
  }

  .omitted-account-name-registration {
    display: block;
  }

  .username-column {
    display: none;
  }

  .omitted-user-name {
    display: block;
  }

  .email-column {
    display: none;
  }

  .omitted-email {
    display: block;
  }

  .mobile-column {
    display: none;
  }

  .omitted-mobile {
    display: block;
  }

  .account-types-column {
    display: none;
  }

  .omitted-account-types {
    display: block;
  }

  .timestamp-registration {
    display: none;
  }

  .omitted-timestamp-registration {
    display: block;
  }

  .action-registration {
    display: none;
  }

  .omitted-actions-registration {
    display: block;
  }

  /*Other Registration*/

  .timestamp-other-registration {
    display: none;
  }

  .omitted-timestamp-other-registration {
    display: block;
  }

  .account-name-other-registration {
    display: none;
  }

  .omitted-account-name-other-registration {
    display: block;
  }

  .status-other-registration {
    display: none;
  }

  .omitted-status-other-registration {
    display: block;
  }

  .resume-column,
  .license-certificate-column,
  .sample-column,
  .agreement-column {
    display: none;
  }

  .omitted-attachments {
    display: flex;
  }

  .action-other-registration {
    display: none;
  }

  .omitted-actions-other-registration {
    display: block;
  }

  .attachments-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .attachments-container a {
    margin-top: -5px;
  }

  /*Subscription*/

  .timestamp-subscription {
    display: none;
  }

  .omitted-timestamp-subscription {
    display: block;
  }

  .account-name-subscription {
    display: none;
  }

  .omitted-account-name-subscription {
    display: block;
  }

  .type-column {
    display: none;
  }

  .omitted-subscription-type {
    display: block;
  }

  .date-column {
    display: none;
  }
  .omitted-date {
    display: block;
  }

  .expiry-column {
    display: none;
  }

  .omitted-expiry {
    display: block;
  }

  .remaining-days-column {
    display: none;
  }

  .omitted-remaining-days {
    display: block;
  }

  /*Subscription*/

  .duration-column,
  .status-subscription,
  .action-subscription {
    display: none;
  }

  .omitted-duration,
  .omitted-status-subscription,
  .omitted-actions-subscription {
    display: block;
  }

  /*Promotion*/

  .timestamp-promotion,
  .name-company-column,
  .title-column,
  .topics-column,
  .description-column,
  .status-column,
  .action-promotion {
    display: none;
  }

  .omitted-timestamp-promotion,
  .omitted-name-company-promotion,
  .omitted-title-promotion,
  .omitted-type-promotion,
  .omitted-topics-promotion,
  .omitted-description-promotion,
  .omitted-status-promotion,
  .omitted-actions-promotion {
    display: block;
  }

  .show-mobile-sidebar {
    display: block;
  }

  .featured-image-mobile-tablet {
    display: block;
  }

  .featured-image-desktop {
    display: none;
  }

  #workspace-page-writer {
    padding: 0px !important;
  }

  .panel-heading {
    margin-top: 130px !important;
  }

  #article-content-container {
    margin-top: 0px;
  }

  #article-show-elements-buttons-container {
    display: flex;
  }
  #article-info {
    display: none;
  }

  #article-buttons {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 50px;
  }

  #article-category {
    width: 30vw !important;
  }

  #article-topic {
    width: 70vw !important;
  }

  .article-notes-desktop-laptop {
    display: none;
  }

  #live-article-title {
    margin-top: -10px;
  }

  #modal-promotion-inputs-container {
    display: block;
    gap: 10px;
  }
}

/*Between tablet and desktop modes...*/
@media only screen and (768px <= width <=1023px) {
}

/*On desktop mode...*/
@media only screen and (1024 <= width) {
  .workspace-search-container-mobile-tablet {
    visibility: hidden;
  }
}
